{% load staticfiles %}
<html>
  <head>
  <!--
    <script type="text/javascript" src="{% static "jquery-1.4.2.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "mdl/material.min.css" %}">
    <script src="{% static "mdl/material.min.js" %}"></script>
  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.light_blue-blue.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="{% static "css/rosbot.css" %}">
    <script type="text/javascript" src="{% static "js/grabFormInfo.js" %}"></script>
    <script type="text/javascript" src="{% static "js/UserControl.js" %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">RosBot</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">About</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">RosBot</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">About</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--7-col">
              <!-- Canvas for video stream goes here -->
              <div class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class="mdl-card__title">
                  Live Stream
                </div>
                <canvas id = videoCanvas width="640" height="480">
            		  <p>
            			  Please use a browser that supports the Canvas Element, like
            			  <a href="http://www.google.com/chrome">Chrome</a>,
            			  <a href="http://www.mozilla.com/firefox/">Firefox</a>,
            			  <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
            		  </p>
            	  </canvas>
            	  <script type="text/javascript" src="{% static "js/jsmpg.js" %}"></script>
            	  <script type="text/javascript">
            		  // Setup the WebSocket connection and start the player
            		  var client = new WebSocket( 'ws://192.168.101.1:8084/' );
            		  var canvas = document.getElementById('videoCanvas');
            	    var player = new jsmpeg(client, {canvas:canvas});
            	  </script>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--5-col bot-controls">
              <!-- Bot status stuff goes here -->
                <div class="mdl-card__title">
                  Bot Controls
                </div>
                <br />
                <div class="mdl-grid">
                  <!-- Row 1 -->
                  <div class="mdl-cell mdl-cell--4-col">

                  </div>
                  <div class="mdl-cell mdl-cell--4-col">
                    <button id="bup" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                      <i class="material-icons">keyboard_arrow_up</i>
                    </button>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col">

                  </div>
                </div>
                <br />
                <div class="mdl-grid">
                  <!-- Row 2 -->
                  <div class="mdl-cell mdl-cell--4-col">
                    <button id="blef" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                      <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col">

                  </div>
                  <div class="mdl-cell mdl-cell--4-col">
                    <button id="brgt" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                      <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                  </div>
                </div>
                <br />
                <div class="mdl-grid">
                  <!-- Row 3 -->
                  <div class="mdl-cell mdl-cell--4-col">

                  </div>
                  <div class="mdl-cell mdl-cell--4-col">
                    <button id="bdwn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                      <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col">

                  </div>
                </div>
            </div>
          </div>

        </div>
      </main>
    </div>
    <script>
      UserControl.docInit();
    </script>

    <br></br>
  </body>
</html>
