.demo-card-wide.mdl-card {
  width: 40em;
  height: 30em;
}
.demo-card-wide.mdl-card2{
  width: 15.625em;
  height: 3.75em;
  background-color: #ffffff;
  align-items: center;
}

body {
  background-color: #616160;
  align-items: center;
  width: 37.5em;
  color: #FFFFFF;
}

.page-content {
  margin-top: 2em;
}

.bot-controls {
  align-items: center;
}

.mdl-card__title {
  background-color: #00BBE3;
  color: #FFFFFF;
}

.mdl-layout__header {
  background-color: #00BBE3;
  color: white;
}

.mdl-navigation__link {
  color: white !important;
}

.mdl-grid {
  max-width: 80em;
}

.mdl-layout-title {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 250%;
}

.material-icons {
  color: white;
  margin-top: 0.4em;
}

#btn {
display: block;
margin: 20px 20px 20px 20px;
width: 60px;
height: 60px;
float:left;
}

#join {
  visibility: visible;
}

#exit {
  visibility: hidden;
}

#card {
  visibility: hidden;
}

#queueButtons {
  margin: 0 auto;
}

#videoCanvas {
			/* Always stretch the canvas to 640x480, regardless of its
			internal size. */
			width: 40em;
			height: 30em;
}

#table {
  margin: 0 auto;
}
